<div class="container d-flex justify-content-center mt-4">
    <div class="border border-primary px-4 py-2" style="width: 250px;">
        <div class="mb-1" >
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="username" class="form-control" [(ngModel)]="username">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="password">
        </div>
        <button (click)="loginAsStudent()" style="width: 200px;" type="submit" class="btn btn-primary my-1">Student Login</button>
        <button (click)="loginAsLecturer()" style="width: 200px;" type="submit" class="btn btn-primary my-1">Lecturer Login</button>
        <button (click)="loginAsAdmin()" style="width: 200px;" type="submit" class="btn btn-primary my-1">Admin Login</button>
      </div>
</div>

Pa$$w0rd

